<html>
<head>
<title>Home</title>
</head>
<body>
  <a href="">Home</a> | <a href="">About</a> | <a href="">Conatct</a> | <a href="">News</a> | <a href="">Events</a> | <a href="">Gallery</a>
  <%= yield %>
</body>
</html>